.container {
    height: 300px;
    width: 600px;
    border: 2px solid black;
    margin: 10px auto;
    background-color: rgb(250, 150, 220);
    display: grid;

    row-gap: 10px;
    column-gap: 30px; 

    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;

    /* justify-items: center;
    align-items: center; */

    justify-items: end;
    align-items: end;

}

.heading {
    background-color: azure;
    text-align: center;
    font-size: 2rem;
    color: black;
}

.item {
    width: 100px;
    height: 50px;
    color: white;
    text-align: center;
    background-color: rgb(243, 74, 125);
    border: 2px solid black;
}

.one {
    justify-self: center;
    align-self: center;
}