.container {
    height: 300px;
    width: 600px;
    border: 2px solid black;
    margin: 10px auto;
    background-color: black;
    display: grid;
}

.item {
    width: 100px;
    height: 50px;
    color: rgb(217, 8, 245);
    text-align: center;
    background-color: aqua;
    border: 2px solid black;
}